<div th:fragment=header class="blog-header">
    <div class="col-50 text-center"><br>
        <h1 class="blog-header-logo text-dark">Английская Премьер-лига</h1>
            <div class="container mt-5">
                <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                    <div class="col-md-50 px-0">
                        <div class = "container mt-50 mb-40 ">
                        <nav class="nav d-flex justify-content-between">
                            <a class="lead mb-1 text-white" href="/">Главная</a>
                            <a class="lead mb-1 text-white" href="/blog">Новости</a>
                            <a class="lead mb-1 text-white" href="/blog/add">Добавить статью</a>
                            <a class="lead mb-1 text-white" href="/standings">Турнирная таблица</a>
                            <a class="lead mb-1 text-white" href="/statistics">Статистика команд</a>
                         </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>