<div th:fragment=header class="blog-header py-3">
    <div class="col-25 text-center">
        <h1 class="blog-header-logo text-dark">Английская премьер лига</h1>
        <div class="container mt-10">
            <div class="container mt-10">
                <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                    <div class="col-md-10 px-0">
                        <div class = "container mt-40 mb-40 ">
                        <nav class="nav d-flex justify-content-between">
                            <a class="lead mb-1 text-white" href="/">Главная</a>
                            <a class="lead mb-1 text-white" href="/blog">Новости</a>
                            <a class="lead mb-1 text-white" href="/blog/add">Добавить статью</a>
                            <a class="lead mb-1 text-white" href="#">Турнирная таблица</a>
                            <a class="lead mb-1 text-white" href="#">Список команд</a>
                         </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>